.TaskListRoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.NewTask{
    display: flex;
    flex-direction: row;
    align-items: baseline;



}

.Add-Task-Text{
    flex: 1;
}
.Add-Task-Button{
    display: flex;
    max-height: 40px;
    max-width:  40px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.Add-Subtask-Button{
    background: mediumblue;
    color: white;
}
li{
    display:grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 2px;
    align-items: baseline;
    margin-bottom: 10px;

}
li input[type="checkbox"]{
    grid-column: 1;
}
li text{
    grid-column: 2;
    margin-right: 5px;
}
li button{
    grid-column: 3;
    max-height: 30px;
    max-width:  30px;

}


